<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="author" content="Wink Hosting (www.winkhosting.com)">
    <meta http-equiv="Content-Type" content="text/html;
      charset=windows-1252">
    <link rel="stylesheet" href="images/style.css" type="text/css">
    <title>About Us</title>
  </head>
  <body>
    <div id="page" align="center">
      <div id="toppage" align="center">
        <div id="date">
          <div class="smalltext" style="padding:13px;">CS371 Fall 2020<br>
          </div>
        </div>
        <div id="topbar">
          <div style="padding:12px;" class="smallwhitetext"
            align="right">&nbsp;<br>
          </div>
        </div>
      </div>
      <div id="header" align="center">
        <div class="titletext" id="logo">
          <div class="logotext" style="margin:10px">Budget<br>
            Calculator<br>
          </div>
        </div>
        <div id="pagetitle">
          <div id="title" class="titletext" style="left: 42px; width:
            556px;" align="right">About Us<br>
          </div>
        </div>
      </div>
      <div id="content" align="center">
        <div id="menu" align="right">
          <div style="width:189px; height:8px;" align="right"><img
              src="images/mnu_topshadow.gif" alt="mnutopshadow"
              width="189" height="8"></div>
          <div id="linksmenu" align="center"> <a href="index.html"
              title="Home">Home</a> <a href="analysis.html"
              title="About Us">Analysis</a> <a
              href="https://github.com/krhubbard2/CS371GroupProject/issues"
              title="Products">Suggestions</a> <a href="about_us.html"
              title="Our Services">About Us</a>&nbsp; </div>
          <div style="width:189px; height:8px;" align="right"><img
              src="images/mnu_bottomshadow.gif" alt="mnubottomshadow"
              width="189" height="8"></div>
        </div>
        <div id="contenttext">
          <div class="bodytext" style="padding:12px;" align="justify"> <strong></strong><br>
            This website and budget calculator was designed, coded, and
            published by Kelby Hubbard, Yali Wang, and Rose Peters. We
            are all Computer Science majors at the University of Alaska
            Fairbanks. This application was created for the group
            project requirement in CS 371 -- Computer Ethics and
            Techinical Communication for the Fall Semester of 2020.
            Suggestions and way to contact please head over to our <a
              href="https://github.com/krhubbard2/CS371GroupProject/issues">Suggestions</a>
            page.<br>
            <br>
            Current budget calculator products, whether web applications
            or soft-ware, have similar basic functions such as
            calculation and displaying chart analysis. Some products
            have added suggestions modules, but many of them have
            complex page outlooks. Our products are dedicated to
            satisfying basic calculation and statistics, chart analysis,
            and suggestion modules. We have compared three products of
            the same type with our product. We found that our budget
            calculator product is more concise on pages, easier to use,
            and can better protect users’ privacy.<br>
            <br>
            Our budget calculator is free for use, has simple and clean
            pages out-looks, has multiple functions, and can better
            protect users’ privacy. Our product can be used offline
            which helps reduce the user’s data traffic<br>
            expenses and provide convenience for users. Our idea is not
            to put the product on the server. We will let users download
            the product package and use it directly offline. Users can
            also choose to run the product on our<br>
            Github.<br>
          </div>
        </div>
      </div>
      <div id="footer" class="smallgraytext" align="center"> <a
          href="index.html">Home</a> | <a href="analysis.html">Analysis</a>&nbsp;








        | <a
          href="https://github.com/krhubbard2/CS371GroupProject/issues">Suggestions</a>
        | <a href="about_us.html">About Us</a><br>
        Kelby Hubbard, Yali Wang, and Rose Peters © UAF Fall 2020<br>
        <a href="http://www.winkhosting.com" title="Hosting Colombia">Hosting








          Colombia</a><br>
      </div>
    </div>
  </body>
</html>
